/* Global Styles */
html { scroll-behavior: smooth; }
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; line-height: 1.6; background-color: #525151; }

/* Navigation */
.nav { display: flex; justify-content: space-between; align-items: center; background-color: #3f3f3f; height: 60px; padding: 0 50px; font-size: 30px; }
.topnav-left a img { width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-top: 8px; }
.topnav-right ul { list-style: none; display: flex; gap: 50px; padding: 0; margin: 0; }
.topnav-right ul li { display: inline-block; margin-bottom: 8px; }
.topnav-right ul li a { color: #fff; text-decoration: none; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 1rem; transition: color 0.3s; }
.topnav-right ul li a:hover { color: #DC143C; }

/* Home Section */
.home { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background-color: #353535; }
.home h1 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 48px; color: #DC143C; text-align: center; }
.home p { margin-left: 70px; margin-right: 70px; font-family: 'Courier New', monospace; font-size: 1.2rem; color: #ffffff; text-align: center; margin-top: 20px; display: flex;}
.home ul { list-style: none; display: flex; gap: 20px; justify-content: center; padding: 0; margin-top: 20px; }
.home ul li {  background-color: #444; color: #fff; padding: 8px 25px; border-radius: 10px; font-family: 'Poppins', sans-serif; font-size: 1rem; box-shadow: 0 2px 6px rgba(0,0,0,0.2);  }
.home ul li:hover {  transform: translateY(-2px); transition: background-color 0.3s ease, transform 0.2s ease; }
.image-container { width: 200px; height: 200px; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; }
.image-container img { width: 100%; height: 100%; object-fit: cover; display: block; }
/* About Section */
.about { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh; background-color: #353535; }
.about h1 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 48px; color: #DC143C; text-align: center; }
.about p, .about h3 { font-family: 'Courier New', monospace; color: #ffffff; text-align: center; }
.about p { font-size: 1.2rem; margin-top: 5px; }
.about h3 { font-size: 1.5rem; margin-top: 20px; }
.boxed-list { display: flex; flex-wrap: wrap; gap: 1rem; justify-content: center; padding: 0; list-style: none; margin-top: 20px; }
.boxed-list li { background-color: #444; color: #fff; padding: 5px 20px; border-radius: 10px; font-family: 'Poppins', sans-serif; font-size: 1rem; box-shadow: 0 2px 6px rgba(0,0,0,0.2); transition: background-color 0.3s ease, transform 0.2s ease; }
.boxed-list li:hover {  transform: translateY(-2px); }
/* Hobbies Section */
.hobbies { display: flex; flex-direction: column; align-items: center; background-color: #353535; padding: 40px 20px; }
.hobbies h1 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 48px; color: #DC143C; text-align: center; margin-bottom: 40px; }
.hobby-cards { display: flex; flex-wrap: wrap; gap: 30px; justify-content: center; }
.card { position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }
.card img { width: 100%; height: 100%; object-fit: cover; display: block; }
.card h3 { position: absolute; bottom: 0; width: 100%; background: rgba(0, 0, 0, 0.6); color: #DC143C; font-family: 'Poppins', sans-serif; font-size: 1.2rem; text-align: center; padding: 10px 0; margin: 0; }

/* Projects Section */
.projects { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh; background-color: #353535; }
.projects h1 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 48px; color: #DC143C; text-align: center; }
.project { display: flex; align-items: center; gap: 20px; background: #353535; padding: 20px; border-radius: 10px; }
.project img { width: 200px; border-radius: 8px; object-fit: cover; }
.project-info { display: flex; flex-direction: column; justify-content: center; }
.project-info h3 { font-family: 'Poppins', sans-serif; font-size: 1.5rem; color: #DC143C; margin-bottom: 10px; }
.project-info p { font-family: 'Courier New', monospace; color: #fff; margin-bottom: 10px; }
.project-info a { color: #DC143C; font-family: 'Poppins', sans-serif; text-decoration: none; font-weight: bold; transition: color 0.3s; }
.project-info a:hover { color: #fff; }
/* Contact Section */
.contact { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh; background-color: #353535; }
.contact h1 { font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 48px; color: #DC143C; text-align: center; }
.contact p {margin-left: 70px; margin-right: 70px; font-family: 'Courier New', monospace; font-size: 1.2rem; color: #ffffff; text-align: center; margin-top: 5px; }
.contact img { width: 30px; height: 30px; margin: 10px; }
.contact ul { list-style: none; display: flex; gap: 20px; justify-content: center; padding: 0; }
.contact ul li { display: inline-block; }

/* Footer */
footer { background-color: #353535; color: #ffffff; text-align: center; padding: 20px; position: relative; bottom: 0; width: 100%; }


